body {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  background-color: #ffffff;
}

:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

.nav {
  border-bottom: 1px solid #e7e9fc;

}

.list {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}

.container-nav {
  
}

.address {
  font-style: normal;
}

.contacts {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #2e2f42;
}

.main-title {
  font-size: 56px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: #ffffff;
}

.button-hero {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  width: 169px;
  height: 1.5s;
  left: 636px;
  top: 428px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list {
  list-style: none;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.hero-section {
  background: #2e2f42;
}

/* Section #1 */

.section-one {
  color: #2e2f42;
}

.section-one-title {
  width: 264px;
  height: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-one-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section#2 */

.section-two-title {
  width: 323px;
  height: 40px;
  left: 559px;
  top: 1016px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* Section#3 */

.section-three {
  background-color: #f4f4fd;
}

.section-three-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-style {
  background-color: #ffffff;
}

.list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.desk {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.footer {
  background-color: #2e2f42;
}

.footer-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #f4f4fd;
}

.button-filter {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #F4F4FD;
    color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  background-color: #404BBF;
  color: #ffffff;
}

.card-title {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.card-desk {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}